.Notifications {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px dashed red;
}

.Notifications ul {
    color: red;
}

[data-notification-type="default"] {
    color: blue;
}

[data-notification-type="urgent"] {
    color: red;
}
